*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Rubik', sans-serif;
}
.chat-input,
.my-text,
.dog-facecard,
.green-text,
.walk-option{
    position: relative;
    z-index: 0;
}

.bg-1{
    background-image: linear-gradient(to top right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    width: 278px;
    height: 356px;
    margin-left: -100px;
    border-radius: 0 0 50% 50%;
}

.container{
    display: flex;
    position: absolute;
    z-index: 5;
    top: 0;
    flex-direction: column;
}

.phone-edge{
    margin: 8% 8% 5% 26%;
    width: 50%;
    background-color: white;
    padding: 8px 8px 8px;
    border-radius: 25px;
    box-shadow: 8px 8px 50px rgb(0 0 0 / 20%);
}

.phone-screen{
    background-color: hsl(270, 20%, 96%);
    height: 384px;
    border-radius: 17px;
}

.chat-head{
    background-image: linear-gradient(to right,hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    border-radius: 17px 17px 5px 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#back{
    color: white;
}

.camera-box{
    margin: 0 auto;
    height: 14px;
    width: 55%;
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.head{
    display: flex;
    margin: 8px 0 0 10px;
}

.head #avatar{
    border: 1px solid white;
    border-radius: 50%;
    margin: 0.5px 0 2.5px 8px;
}

.chat-name{
    margin-left: 10px;
}

.chat-name header{
    font-weight: bold;
    font-size: 9px;
    color: rgb(243, 238, 247);
    margin-bottom: -6px;
}

.chat-name span{
    font-size: 8px;
    color: hsl(276, 100%, 81%);
}

#dots{
    margin: 5px 5px 5px 23%;
    width: 12px;
    height: 12px;
}

.chat-body{
    padding: 0 8px 15px;
}

.dog-facecard{
    display: flex;
    gap: 0.9rem;
    padding: 0.6rem;
    animation: slide-left 1.5s;
    justify-content: flex-end;
}

.dog-facecard img{
    border-radius: 10px;
    width: 36px;
    height: 36px;
}

.green-text{
    width: 70%;
    font-size: 7px;
    padding: 5px;
    margin: 4px 0;
    color: hsl(276, 55%, 52%);
    background-color: rgba(91, 77, 92, 0.2);
    border-radius: 10px 10px 10px 5px;
    animation: slide-right 1.5s;
}

.my-text{
    width: 65%;
    font-size: 7px;
    background-color: white;
    color:hsl(271, 15%, 43%);
    border-radius: 10px 10px 5px 10px;
    padding: 5px;
    margin: 4px 0 4px 35%;
    animation: slide-left 1.5s;
}

.last{
    margin-bottom: 10px;
    margin-left: 55%;
    width: 45%;
}

.walk-option{
    display: flex;
    width: 78%;
    font-size: 7px;
    padding: 5px;
    margin: 5px 0;
    border-radius: 10px 10px 10px 5px;
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    animation: slide-right 1.5s;
}

.walk-option span{
    color: white;
}

.walk-option span:first-of-type{
    margin: 2.5px 15% 2.5px 7px;
}

#an-hour{
    margin-right: 26%;
}

.walk-option span:last-of-type{
    font-size: 12px;
    font-weight: bold;
}

.radio-button{
    border-radius: 50%;
    width: 14px;
    height: 14px;
    border: 1px solid rgb(185, 173, 194);
}

.chat-input{
    display: flex;
    font-size: 10px;
    color: hsl(206, 6%, 79%);
    margin-top: 10px;
    padding: 6px 15px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    animation: opacity 1.5s;
    justify-content: space-between;
    align-items: center;
}

#arrow{
    padding: 4px;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-input img{
    margin-left: 22%;
}

.paragraph{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 10%;
}

.paragraph h1{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 25px;
}

.paragraph p{
    font-size: 16px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: hsl(270, 7%, 64%);
}

@media screen and (min-width:1440px){

    .container {
        display: flex;
        position: absolute;
        z-index: 5;
        top: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .bg-1 {
        background-image: linear-gradient(to top right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
        width: 450px;
        height: 550px;
        margin-left: -100px;
        border-radius: 0 0 50% 50%;
    }

    .phone-edge {
        margin: 8% 8% 5% 22%;
        height: 404px;
        width: 455px;
        background-color: white;
        padding: 8px 8px 8px;
        border-radius: 25px;
        box-shadow: 8px 8px 50px rgb(0 0 0 / 20%);
    }

    .phone-screen {
        background-color: hsl(270, 20%, 96%);
        height: 384px;
        border-radius: 17px;
    }

    .bg-2 {
        background-color: hsla(293, 100%, 63%, 0.1);
        width: 250px;
        height: 550px;
        border-radius: 500px 0 0 0;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .dog-facecard {
        display: flex;
        gap: 0.9rem;
        margin: 10px 0 0 25%;
        animation: slide-left 1.5s;
    }

    .paragraph {
        margin: 32% 40% 25% 0;
        display: flex;
        align-items: flex-start;
    }

    .paragraph p{
        width: 58%;
        margin-left: 0%;
        text-align: left;
    }

    #arrow {
        padding: 4px;
        background-color: black;
        color: white;
        border-radius: 50%;
        width: 14%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@keyframes slide-left {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slide-right {
    from{
        transform: translateX(-100%);
        
    }
    to{
        transform: translate(0);
    }
}
@keyframes opacity {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
